<table> 
  <caption>Score:</caption>
  <thead>
    <tr>
      <th>Player X</th>
      <th>Player O</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{this.model.playerXScore}}</td>
      <td>{{this.model.playerOScore}}</td>
    </tr>
  </tbody>
</table>